@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .max-container {
    @apply mx-auto w-full px-[15px] md:px-0 md:max-w-[720px] cLg:max-w-[960px] xl:max-w-[1170px];
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-hover:hover .icon-hover {
  color: #fff;
}